<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <table>
            {% for d in data.libros %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td>{{ d[4] }}</td>
                <td>{{ d[5] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
