<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Título</th>
                    <th>Año de Edición</th>
                    <th>Autor</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in data.libros %}
                <tr>
                    <td>{{ libro.isbn }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.anioedicion }}</td>
                    <td>{{ libro.autor.apellido }} {{ libro.autor.nombre }}</td>
                    <td>{{ libro.precio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
